@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,700;1,500&display=swap");
div.separator {
  width: 50rem;
  border-bottom: 1px solid #adb5bd;
}

.nav-link {
  color: inherit;
  -webkit-text-decoration: underline 0.15em transparent;
          text-decoration: underline 0.15em transparent;
  transition: -webkit-text-decoration-color 600ms;
  transition: text-decoration-color 600ms;
  transition: text-decoration-color 600ms, -webkit-text-decoration-color 600ms;
  text-underline-offset: 5px;
}
.nav-link.active {
  -webkit-text-decoration: underline 0.15em;
          text-decoration: underline 0.15em;
}
.nav-link:hover:not(.active) {
  text-shadow: 0 0 2px 0;
  -webkit-text-decoration-color: #495057;
          text-decoration-color: #495057;
  color: black;
}

.firstArticle {
  border-right: 1px solid #adb5bd;
  border-spacing: 50px;
}

.fadeIn {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidein {
  0% {
    margin-left: 50%;
    opacity: 0%;
    width: 100%;
  }
  50% {
    margin-left: 5%;
    opacity: 0%;
    width: 100%;
  }
  65% {
    margin-left: 3%;
    opacity: 0%;
    width: 100%;
  }
  100% {
    margin-left: 0%;
    opacity: 100%;
    width: 100%;
  }
}
@keyframes slidein {
  0% {
    margin-left: 50%;
    opacity: 0%;
    width: 100%;
  }
  50% {
    margin-left: 5%;
    opacity: 0%;
    width: 100%;
  }
  65% {
    margin-left: 3%;
    opacity: 0%;
    width: 100%;
  }
  100% {
    margin-left: 0%;
    opacity: 100%;
    width: 100%;
  }
}
@-webkit-keyframes zoom {
  0% {
    opacity: 0%;
    scale: 0.95;
  }
  100% {
    opacity: 100%;
    scale: 1;
  }
}
@keyframes zoom {
  0% {
    opacity: 0%;
    scale: 0.95;
  }
  100% {
    opacity: 100%;
    scale: 1;
  }
}

.slideIn {
  -webkit-animation: slidein 1s;
          animation: slidein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slidein {
  0% {
    margin-left: 50%;
    opacity: 0%;
    width: 100%;
  }
  50% {
    margin-left: 5%;
    opacity: 0%;
    width: 100%;
  }
  65% {
    margin-left: 3%;
    opacity: 0%;
    width: 100%;
  }
  100% {
    margin-left: 0%;
    opacity: 100%;
    width: 100%;
  }
}
@keyframes zoom {
  0% {
    opacity: 0%;
    scale: 0.95;
  }
  100% {
    opacity: 100%;
    scale: 1;
  }
}

.zoom {
  -webkit-animation: zoom 2s;
          animation: zoom 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slidein {
  0% {
    margin-left: 50%;
    opacity: 0%;
    width: 100%;
  }
  50% {
    margin-left: 5%;
    opacity: 0%;
    width: 100%;
  }
  65% {
    margin-left: 3%;
    opacity: 0%;
    width: 100%;
  }
  100% {
    margin-left: 0%;
    opacity: 100%;
    width: 100%;
  }
}
@keyframes zoom {
  0% {
    opacity: 0%;
    scale: 0.95;
  }
  100% {
    opacity: 100%;
    scale: 1;
  }
}/*# sourceMappingURL=style.css.map */